$background-color: rgb(0, 15, 29);
$font-color: rgb(245, 252, 255);
$secondary-color: rgb(61, 159, 250);
$shadow-color: rgb(3, 75, 143);


$main-font: "Roboto Mono", sans-serif;
$accent-font: "Oooh Baby", serif;